<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Lista 10</title>
</head>
<body>
    <header>
        <nav id="topo">
            <ul>
                <li><a href="">HTML</a></li>
                <li><a href="">CSS</a></li>
                <li><a href="">JavaScript</a></li>
            </ul>
        </nav>
        <img src="imagens/topo.png" alt="">
    </header>
    <main>
        <section>
            <h1>Aprendendo Web Design na Prática</h1>
            <h2>HTML5, CSS3 e JavaScript</h2>
        </section>
        <section>
            <table>
                <tr>
                   <td>
                        <img src="imagens/html5.png" alt="" style="height: 30px;">
                        <h3>HTML5</h3>
                    </td> 
                   <td>
                        <img src="imagens/css3.png" alt="" style="height: 30px;">
                        <h3>CSS3</h3>
                    </td>
                   <td>
                        <img src="imagens/javascript.png" alt="" style="height: 30px;">
                        <h3>JavaScript</h3>
                    </td>  
                </tr>
                 <tr>
                    <td>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eveniet omnis officiis, non qui maxime consequuntur illo expedita amet ab. Voluptate,accusamus. Recusandae alias id quidem ad asperiores suscipit autem. [<a href="#topo">Leia mais</a>]</p>
                    </td> 
                    <td>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eveniet omnis officiis, non qui maxime consequuntur illo expedita amet ab. Voluptate, accusamus. Recusandae alias id quidem ad asperiores suscipit autem. [<a href="#topo">Leia mais</a>]</p>
                    </td>
                    <td>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eveniet omnis officiis, non qui maxime consequuntur illo expedita amet ab. Voluptate, accusamus. Recusandae alias id quidem ad asperiores suscipit autem. [<a href="#topo">Leia mais</a>]</p>
                    </td>  
                 </tr>
            </table>
        </section>
        <section>
            <img src="imagens/webdesign.jpg" alt="" style="height: 300px;">
            <h2>Conheça o nosso portifólio</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus 
            quasi minima maiores deleniti voluptatem aspernatur est obcaecati 
            cupiditate. Itaque perferendis unde velit eum accusantium tempora aut
            sint, quam hic a? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fuga in repellat, fugiat quasi, sit temporibus, numquam explicabo animi tempore omnis voluptas nemo iure. Omnis officiis consectetur beatae corporis enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate omnis impedit perferendis pariatur repellat culpa ea nulla tenetur facere optio, quibusdam repudiandae quae amet eligendi ad possimus dolore neque suscipit.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus 
            quasi minima maiores deleniti voluptatem aspernatur est obcaecati 
            cupiditate. Itaque perferendis unde velit eum accusantium tempora aut
            sint, quam hic a? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fuga in repellat, fugiat quasi, sit temporibus, numquam explicabo animi tempore omnis voluptas nemo iure. Omnis officiis consectetur beatae corporis enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate omnis impedit perferendis pariatur repellat culpa ea nulla tenetur facere optio, quibusdam repudiandae quae amet eligendi ad possimus dolore neque suscipit.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus 
            quasi minima maiores deleniti voluptatem aspernatur est obcaecati 
            cupiditate. Itaque perferendis unde velit eum accusantium tempora aut
            sint, quam hic a? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fuga in repellat, fugiat quasi, sit temporibus, numquam explicabo animi tempore omnis voluptas nemo iure. Omnis officiis consectetur beatae corporis enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate omnis impedit perferendis pariatur repellat culpa ea nulla tenetur facere optio, quibusdam repudiandae quae amet eligendi ad possimus dolore neque suscipit.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus 
            quasi minima maiores deleniti voluptatem aspernatur est obcaecati 
            cupiditate. Itaque perferendis unde velit eum accusantium tempora aut
            sint, quam hic a? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fuga in repellat, fugiat quasi, sit temporibus, numquam explicabo animi tempore omnis voluptas nemo iure. Omnis officiis consectetur beatae corporis enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate omnis impedit perferendis pariatur repellat culpa ea nulla tenetur facere optio, quibusdam repudiandae quae amet eligendi ad possimus dolore neque suscipit.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus 
            quasi minima maiores deleniti voluptatem aspernatur est obcaecati 
            cupiditate. Itaque perferendis unde velit eum accusantium tempora aut
            sint, quam hic a? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fuga in repellat, fugiat quasi, sit temporibus, numquam explicabo animi tempore omnis voluptas nemo iure. Omnis officiis consectetur beatae corporis enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate omnis impedit perferendis pariatur repellat culpa ea nulla tenetur facere optio, quibusdam repudiandae quae amet eligendi ad possimus dolore neque suscipit.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus 
            quasi minima maiores deleniti voluptatem aspernatur est obcaecati 
            cupiditate. Itaque perferendis unde velit eum accusantium tempora aut
            sint, quam hic a? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fuga in repellat, fugiat quasi, sit temporibus, numquam explicabo animi tempore omnis voluptas nemo iure. Omnis officiis consectetur beatae corporis enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate omnis impedit perferendis pariatur repellat culpa ea nulla tenetur facere optio, quibusdam repudiandae quae amet eligendi ad possimus dolore neque suscipit.</p>
        </section>
        <section>
            <img src="imagens/portifolio01.jpg" alt="" style="height: 250px; width: 250px;">
            <img src="imagens/portifolio02.jpg" alt="" style="height: 250px; width: 250px;">
            <img src="imagens/portifolio03.jpg" alt="" style="height: 250px; width: 250px;">
        </section>
    </main>
    <footer>
        <p>Todos os direitos reservados</p>
        <img src="imagens/logoRedesSociais.png" alt="" style="height: 50px;">
        <p>Rua da Paz, 630, Uberlândia (MG) - Brasil</p>
        <p>+55(34)3221-4800</p>
    </footer>
</body>
</html>