/* Configuração global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Celular (Mobile First) */
.container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.apresentacao > div > div {
    border: solid red;
    width: 100%;
    background-color: yellow;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .apresentacao > div > div {
        background-color: blue;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {

    .container {
        flex-direction: row;
    }

    .apresentacao > div > div {
        background-color: pink;
    }
}