<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Revisão</title>
</head>
<body>
    <header>
        <h1>Instituto Federal do Triângulo Mineiro</h1>
        <nav> 
            <ul>
                <li><a href="">Institucional</a></li>
                <li><a href="">Campi</a></li>
                <li><a href="">Sobre nós</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Uberlândia Centro</h2>
            <p><b style="color: red; font-family: Arial;">Lorem</b> <i>ipsum</i> <u>dolor</u> <a href="https://www.google.com.br" target="_blank">sit</a> <strong>amet</strong> consectetur adipisicing elit. Numquam recusandae minima inventore, consectetur perferendis, dignissimos esse laborum eum velit aliquam voluptates labore culpa doloribus porro. Ipsam fugit iusto minima perferendis!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro dicta recusandae fugiat quod accusantium modi provident harum ullam nisi sunt. Tempora reprehenderit unde inventore temporibus aperiam quia maxime voluptates suscipit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod suscipit voluptate assumenda eligendi, culpa quos adipisci praesentium deserunt illum quas incidunt voluptatibus, vel ducimus! Eos illum placeat ex consectetur quod!</p>
            <img src="./img/iftm.jpg" alt="campus Uberlândia Centro">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta debitis sit aperiam magnam modi temporibus assumenda ab omnis, quo voluptate voluptatum illo similique quaerat unde ullam eius. Cupiditate, consequatur repudiandae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi architecto iste quod eius nulla aliquam unde dicta omnis, facere nihil quos culpa ducimus aspernatur accusantium. Nisi repudiandae ab dolores. Nisi! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita necessitatibus, voluptatum recusandae voluptatibus blanditiis enim velit aliquid, sapiente ex, modi nobis provident deleniti incidunt! Facilis dignissimos illo ex id voluptas?
            Aspernatur sapiente, enim eaque veniam blanditiis cum itaque, deleniti nulla dicta distinctio magnam ducimus a libero quas voluptatibus unde nemo atque vel vitae architecto repellat sed temporibus facere cumque. Perferendis!
            Quaerat iusto beatae modi neque iure vero harum odio rerum, et assumenda eum eaque itaque dignissimos eius accusantium voluptas totam esse tempora numquam error non reiciendis. Id praesentium deserunt sequi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum vitae error, dicta exercitationem alias sed? Necessitatibus amet adipisci recusandae accusamus sunt! Omnis facere sapiente natus, quam debitis delectus ipsa ab!</p>
            <ul>
                <li>Ensino</li>
                <li>Pesquisa</li>
                <li>Extensão</li>
                <li>Outras atividades</li>
            </ul>
        </section>
        <section>
            <h2>Ituiutaba</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A doloremque, modi officiis quis consequuntur ab ullam ex nisi cumque blanditiis sed exercitationem accusantium fugit velit, aut sequi sint aliquid dolore.
            At, fugit aliquam autem delectus placeat quo cupiditate. Corporis dolores, veritatis ab dignissimos excepturi optio vel at similique voluptatem totam perspiciatis architecto, quam ea quo omnis consequatur cupiditate! Sit, velit! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet quisquam perferendis voluptatem dolorem sint obcaecati quia perspiciatis. Aperiam quod, alias, eum ab sit laboriosam vel nostrum facilis deleniti placeat quisquam!</p>
            <img src="./img/iftm2.jpg" alt="Campus Ituiutaba">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores assumenda odit officia similique accusamus soluta dolor amet deleniti praesentium, cumque, exercitationem nihil consectetur corrupti expedita quas animi eligendi error odio.
            Est reiciendis commodi neque ad voluptas, dolorum sequi ut perferendis minima sit fugiat non, natus cumque tempora illum corporis earum perspiciatis vel. Ullam assumenda sunt inventore architecto reprehenderit optio blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptates, blanditiis quam cumque laudantium voluptatibus perspiciatis dignissimos at soluta saepe eos necessitatibus atque quia quis officia, odio debitis, explicabo maxime!
            Voluptatem nulla dolorem quaerat blanditiis suscipit et impedit. Quaerat aliquam consectetur quam ullam iusto saepe necessitatibus quasi incidunt modi. Error odio libero molestiae explicabo autem, nam nulla fugit sit velit!
            Vitae iste, laudantium esse quae amet dignissimos ullam aspernatur cupiditate dolores sapiente error optio minus pariatur cumque mollitia! Quos repudiandae totam officiis hic error modi minima beatae, nemo fuga aut.</p>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati veritatis, doloribus ipsum earum quod delectus impedit voluptatum nemo? Quas nam minima, maxime veritatis a minus blanditiis distinctio autem qui illum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia obcaecati quam asperiores earum! Assumenda, voluptatum aliquam. Deleniti reprehenderit laboriosam dolore! Ullam asperiores nihil earum expedita eius, explicabo rem dolores rerum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit sapiente repellendus, sit quidem a assumenda est aut minima eveniet, molestias possimus vel neque modi ducimus suscipit dolorum, et voluptate dicta.
            Rem, esse odio minus explicabo dolorem quidem similique architecto ab rerum voluptatibus porro, velit asperiores temporibus fugiat et quos sapiente quam tempora, eos quaerat alias maxime fugit repellat! Incidunt, numquam?</p>
        </section>
        <section>
            <h2>Patos de Minas</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quidem voluptatem molestias delectus deleniti. Optio dolor enim at, vero pariatur sunt error, impedit quibusdam expedita est architecto iure rerum doloremque?
            Corporis odio atque, unde voluptatum modi deleniti cum vitae possimus, fugiat, repudiandae maxime rerum. Illo, vero doloremque. Illum molestiae quae qui. Obcaecati sapiente, tempora repellat quo non distinctio saepe odit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga illum tempora esse tenetur exercitationem, ullam dignissimos! Quia officia officiis maiores cum? Repellendus ipsum laboriosam, corrupti nesciunt modi facere provident tempore.</p>
            <img src="./img/iftm3.jpg" alt="Campus Patos de Minas">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam totam eveniet necessitatibus praesentium impedit exercitationem aut perferendis dolorem temporibus, architecto aspernatur, illo est nobis nemo, assumenda expedita ea molestiae ducimus?
            Dolores mollitia blanditiis, veniam tempore ipsa obcaecati nisi. Ipsam iure quas reprehenderit iusto officiis perferendis? Quisquam incidunt magnam voluptates quibusdam asperiores vitae illo, quam similique commodi eum veniam blanditiis culpa! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias et culpa neque, laudantium dolor laboriosam! Eius, sunt doloremque. Blanditiis eaque repudiandae, quam ducimus dignissimos ex repellat nisi neque hic incidunt!
            Optio, accusantium atque? Vitae debitis impedit eaque sint molestias, nulla magni pariatur nesciunt omnis voluptatibus dolores voluptas dignissimos assumenda fugit deserunt. Adipisci laboriosam cupiditate error veniam voluptate? Optio, voluptatum accusamus! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo recusandae soluta temporibus a exercitationem est, voluptates odio explicabo in incidunt reiciendis sit tenetur, minus accusamus cupiditate quae? Non, ratione eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quos in quidem libero debitis dolore recusandae illum sunt reiciendis vero harum, architecto, atque ea nesciunt quod molestias, ullam illo fugiat!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, reprehenderit nam mollitia deleniti eum excepturi animi cum quidem, optio illo unde aspernatur, odio voluptas corporis suscipit quisquam dolorem deserunt ipsa.
            Cumque architecto ducimus maxime est maiores eum enim quam reprehenderit facere ratione culpa, possimus, sapiente ipsa laudantium officia eos! Repellat accusantium ab quod pariatur nobis amet ratione ducimus odit odio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, alias? Doloribus recusandae nihil dolorem ipsum nisi a similique, perspiciatis, ipsa quod temporibus optio commodi illum doloremque earum totam magni ratione! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, doloremque asperiores voluptas iusto ducimus ex quae eius temporibus quia, consequatur dolores nobis doloribus! Iusto qui ex ea ad repudiandae repellendus.
            Reprehenderit mollitia vel quibusdam culpa magni voluptatibus non ea dignissimos, eaque voluptatum quos accusantium deserunt libero, cum recusandae sunt? Et pariatur voluptatum rem alias omnis repudiandae vitae aperiam? Harum, quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor odio recusandae, error quis eveniet deserunt rerum exercitationem laudantium nemo quaerat saepe laborum unde officiis perspiciatis, ullam quisquam earum. Culpa, ducimus.</p>
            <a href="#">Voltar ao topo</a>
        </section>
    </main>
    <footer>
        <p>Rodapé da página</p>
    </footer>
</body>
</html>