<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/estilos.css">
    <title>Lista 16 - Flexbox</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="" class="menu menu-html">HTML 5</a></li>
                <li><a href="" class="menu menu-css">CSS 3</a></li>
                <li><a href="" class="menu menu-js">JavaScript</a></li>
            </ul>
        </nav>
        <img src="img/topoPC.jpg" alt="">
    </header>
    <main>
        
        <section>
            <div class="container topo">
                <h1>Web Design na Prática</h1>
                <h3>HTML5, CSS3 e JavaScript</h3>
            </div>
        </section>
        
        <section style="background-color: #E6E6E6;">
            <div class="container logos">
                <div>
                    <img src="img/html5.png" alt="">
                    <h2>HTML5</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem assumenda quisquam repudiandae eius. Error reprehenderit iusto delectus voluptatum animi velit perspiciatis totam molestias ea harum. Sequi reprehenderit alias aliquid aut?</p>    
                </div>
                <div>
                    <img src="img/css3.png" alt="">
                    <h2>CSS3</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem assumenda quisquam repudiandae eius. Error reprehenderit iusto delectus voluptatum animi velit perspiciatis totam molestias ea harum. Sequi reprehenderit alias aliquid aut?</p>    
                </div>
                <div>
                    <img src="img/javascript.png" alt="">
                    <h2>JavaScript</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem assumenda quisquam repudiandae eius. Error reprehenderit iusto delectus voluptatum animi velit perspiciatis totam molestias ea harum. Sequi reprehenderit alias aliquid aut?</p>    
                </div>
            </div>
        </section>
        
        <section>
            <div class="container produtos">
                <div class="texto">
                    <div class="caixaImg">
                        <img src="img/figure1.jpg" alt="">    
                    </div>
                    <div class="caixaTexto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam accusamus autem culpa impedit ipsam nemo tempore dolores voluptate. Provident nulla dolore saepe assumenda eos quae possimus, laboriosam dignissimos doloribus.
                        Vero quos facilis nisi sint eaque porro delectus quod minima aliquam veritatis, illo, molestias nesciunt ipsum dignissimos aliquid autem facere eius harum doloribus veniam. Doloremque dolorum ex aliquam corrupti ipsa.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam accusamus autem culpa impedit ipsam nemo tempore dolores voluptate. Provident nulla dolore saepe assumenda eos quae possimus, laboriosam dignissimos doloribus.
                        Vero quos facilis nisi sint eaque porro delectus quod minima aliquam veritatis, illo, molestias nesciunt ipsum dignissimos aliquid autem facere eius harum doloribus veniam. Doloremque dolorum ex aliquam corrupti ipsa.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam accusamus autem culpa impedit ipsam nemo tempore dolores voluptate. Provident nulla dolore saepe assumenda eos quae possimus, laboriosam dignissimos doloribus.
                        Vero quos facilis nisi sint eaque porro delectus quod minima aliquam veritatis, illo, molestias nesciunt ipsum dignissimos aliquid autem facere eius harum doloribus veniam. Doloremque dolorum ex aliquam corrupti ipsa.</p>
                    </div>
                </div>
                <div class="texto">   
                    <div class="caixaTexto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam accusamus autem culpa impedit ipsam nemo tempore dolores voluptate. Provident nulla dolore saepe assumenda eos quae possimus, laboriosam dignissimos doloribus.
                        Vero quos facilis nisi sint eaque porro delectus quod minima aliquam veritatis, illo, molestias nesciunt ipsum dignissimos aliquid autem facere eius harum doloribus veniam. Doloremque dolorum ex aliquam corrupti ipsa.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam accusamus autem culpa impedit ipsam nemo tempore dolores voluptate. Provident nulla dolore saepe assumenda eos quae possimus, laboriosam dignissimos doloribus.
                        Vero quos facilis nisi sint eaque porro delectus quod minima aliquam veritatis, illo, molestias nesciunt ipsum dignissimos aliquid autem facere eius harum doloribus veniam. Doloremque dolorum ex aliquam corrupti ipsa.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam accusamus autem culpa impedit ipsam nemo tempore dolores voluptate. Provident nulla dolore saepe assumenda eos quae possimus, laboriosam dignissimos doloribus.
                        Vero quos facilis nisi sint eaque porro delectus quod minima aliquam veritatis, illo, molestias nesciunt ipsum dignissimos aliquid autem facere eius harum doloribus veniam. Doloremque dolorum ex aliquam corrupti ipsa.</p>
                    </div>
                    <div class="caixaImg">
                        <img src="img/figure2.jpg" alt="">    
                    </div>
                </div>
                <div class="texto">
                    <div class="caixaImg">
                        <img src="img/figure1.jpg" alt="">    
                    </div>
                    <div class="caixaTexto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam accusamus autem culpa impedit ipsam nemo tempore dolores voluptate. Provident nulla dolore saepe assumenda eos quae possimus, laboriosam dignissimos doloribus.
                        Vero quos facilis nisi sint eaque porro delectus quod minima aliquam veritatis, illo, molestias nesciunt ipsum dignissimos aliquid autem facere eius harum doloribus veniam. Doloremque dolorum ex aliquam corrupti ipsa.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam accusamus autem culpa impedit ipsam nemo tempore dolores voluptate. Provident nulla dolore saepe assumenda eos quae possimus, laboriosam dignissimos doloribus.
                        Vero quos facilis nisi sint eaque porro delectus quod minima aliquam veritatis, illo, molestias nesciunt ipsum dignissimos aliquid autem facere eius harum doloribus veniam. Doloremque dolorum ex aliquam corrupti ipsa.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam accusamus autem culpa impedit ipsam nemo tempore dolores voluptate. Provident nulla dolore saepe assumenda eos quae possimus, laboriosam dignissimos doloribus.
                        Vero quos facilis nisi sint eaque porro delectus quod minima aliquam veritatis, illo, molestias nesciunt ipsum dignissimos aliquid autem facere eius harum doloribus veniam. Doloremque dolorum ex aliquam corrupti ipsa.</p>
                    </div>
                </div>
                <div class="texto">   
                    <div class="caixaTexto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam accusamus autem culpa impedit ipsam nemo tempore dolores voluptate. Provident nulla dolore saepe assumenda eos quae possimus, laboriosam dignissimos doloribus.
                        Vero quos facilis nisi sint eaque porro delectus quod minima aliquam veritatis, illo, molestias nesciunt ipsum dignissimos aliquid autem facere eius harum doloribus veniam. Doloremque dolorum ex aliquam corrupti ipsa.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam accusamus autem culpa impedit ipsam nemo tempore dolores voluptate. Provident nulla dolore saepe assumenda eos quae possimus, laboriosam dignissimos doloribus.
                        Vero quos facilis nisi sint eaque porro delectus quod minima aliquam veritatis, illo, molestias nesciunt ipsum dignissimos aliquid autem facere eius harum doloribus veniam. Doloremque dolorum ex aliquam corrupti ipsa.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam accusamus autem culpa impedit ipsam nemo tempore dolores voluptate. Provident nulla dolore saepe assumenda eos quae possimus, laboriosam dignissimos doloribus.
                        Vero quos facilis nisi sint eaque porro delectus quod minima aliquam veritatis, illo, molestias nesciunt ipsum dignissimos aliquid autem facere eius harum doloribus veniam. Doloremque dolorum ex aliquam corrupti ipsa.</p>
                    </div>
                    <div class="caixaImg">
                        <img src="img/figure2.jpg" alt="">    
                    </div>
                </div>
                <div class="texto">
                    <div class="caixaImg">
                        <img src="img/figure1.jpg" alt="">    
                    </div>
                    <div class="caixaTexto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam accusamus autem culpa impedit ipsam nemo tempore dolores voluptate. Provident nulla dolore saepe assumenda eos quae possimus, laboriosam dignissimos doloribus.
                        Vero quos facilis nisi sint eaque porro delectus quod minima aliquam veritatis, illo, molestias nesciunt ipsum dignissimos aliquid autem facere eius harum doloribus veniam. Doloremque dolorum ex aliquam corrupti ipsa.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam accusamus autem culpa impedit ipsam nemo tempore dolores voluptate. Provident nulla dolore saepe assumenda eos quae possimus, laboriosam dignissimos doloribus.
                        Vero quos facilis nisi sint eaque porro delectus quod minima aliquam veritatis, illo, molestias nesciunt ipsum dignissimos aliquid autem facere eius harum doloribus veniam. Doloremque dolorum ex aliquam corrupti ipsa.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam accusamus autem culpa impedit ipsam nemo tempore dolores voluptate. Provident nulla dolore saepe assumenda eos quae possimus, laboriosam dignissimos doloribus.
                        Vero quos facilis nisi sint eaque porro delectus quod minima aliquam veritatis, illo, molestias nesciunt ipsum dignissimos aliquid autem facere eius harum doloribus veniam. Doloremque dolorum ex aliquam corrupti ipsa.</p>
                    </div>

            </div>
        </section>
        </div>
    </main>
    <footer>
        <p>Todos os direitos reservados</p>
    </footer>
</body>
</html>
