<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/estilos.css">
    <title>Lista 11</title>
</head>

<body>
    <header>
        <table>
            <td style="width:200px">
                <img src="./imagens/logoIFTM.jpg" alt="">
            </td>
            <td style="width:600px">
                <h1>Sistemas para Internet</h1>
                <p>Ensino de Qualidade e Gratuito</p>
            </td>
            <td style="width:200px">
                <img src="./imagens/bandeiraUberlandia.png" alt="">
            </td>
        </table>
        <nav>
            <ul>
                <li><a href="">Início</a></li>
                <li><a href="">Programação</a></li>
                <li><a href="">Inscreva-se</a></li>
                <li><a href="">Localização</a></li>
                <li><a href="">Certificados</a></li>
                <li><a href="">Fotos</a></li>
                <li><a href="">Sarau</a></li>
                <li><a href="">Feira</a></li>
                <li><a href="">Organização</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <table>
                <td width="500px">
                    <img src="./imagens/fotoIFTM.jpg" alt="">
                </td>
                <td>
                    <h2>Sobre o curso de Sistemas para Internet</h2>
                    <p>O curso de <strong>Tecnologia em Sistemas para Internet</strong> possui como objetivo geral
                        formar tecnólogos em <a target="_blank"
                            href="https://iftm.edu.br/cursos/uberlandiacentro/tecnologo/sistemas-para-internet/">Sistemas
                            para Internet</a> propiciando <u>conhecimentos teóricos e práticos</u> com vistas à formação
                        integral, por meio do estudo técnico-científico e da reflexão crítica acerca dos aspectos <span
                            style="color: red;">humanos, éticos e cidadãos</span>, de modo a atender com excelência às
                        demandas do arranjo produtivo da região.</p>

                    <p><b>Outros cursos oferecidos pelos IFTM:</b></p>

                    <ul>
                        <li>Tecnologia em Marketing (duração: 2,5 anos)</li>
                        <li>Licenciatura em Computação (duração: 4 anos)</li>
                        <li>Logística (duração: 2,5 anos)</li>
                    </ul>
                </td>
            </table>
        </section>
        <section>
            <table>
                <tr style="width: 250px;">
                    <td>Corpo docente</td>
                    <td>Disciplinas</td>
                    <td>Projetos</td>
                    <td>Perfil do egresso</td>
                </tr>
                <tr style="width: 250px;">
                    <td>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus accusamus ullam quisquam
                            architecto consectetur ut excepturi voluptate eaque nobis. Quae error dolore modi aliquam
                            necessitatibus ipsum id cupiditate similique? Qui.</p>
                        <details>
                            <summary>Continue lendo</summary>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, vel. Nam deleniti facilis
                                velit animi ducimus molestiae accusamus harum labore obcaecati? Tenetur excepturi ipsum
                                esse dolore inventore nesciunt sapiente sunt?</p>
                        </details>
                    </td>
                    <td>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quas, doloremque perspiciatis
                            voluptate saepe culpa ut atque rerum vel inventore dolor et dolorum maxime consequuntur
                            adipisci reiciendis nemo nobis odit.</p>
                        <details>
                            <summary>Continue lendo</summary>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, cumque aspernatur
                                eveniet soluta debitis suscipit quam provident sunt necessitatibus eius consequatur
                                culpa nihil et tenetur itaque libero fugiat nisi quidem.</p>
                        </details>
                    </td>
                    <td>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro vel non, quisquam mollitia eum
                            aspernatur hic odit aut! Unde atque officia autem corrupti eligendi non eveniet distinctio
                            adipisci nihil harum.</p>
                        <details>
                            <summary>Continue lendo</summary>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis recusandae praesentium
                                ullam sint, repellat esse sed incidunt quam omnis neque. Fuga possimus magni officia
                                expedita? Ab soluta possimus officiis minus.</p>
                        </details>
                    </td>
                    <td>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sint non voluptatum et
                            perspiciatis est quas quod odio, delectus accusamus corrupti vel deserunt asperiores fugit
                            eaque ab accusantium sapiente quia.</p>
                        <details>
                            <summary>Continue lendo</summary>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, illo recusandae itaque
                                cum blanditiis dolorum officiis facilis. Enim repellat excepturi velit, quis ipsum
                                libero, molestiae eligendi doloribus officia sint neque.</p>
                        </details>
                    </td>
                </tr>
                <tr style="width: 250px;">
                    <td>
                        <a href="">Conheça a estrutura [+]</a>
                    </td>
                    <td>
                        <a href="">Conheça os professores [+]</a>
                    </td>
                    <td>
                        <a href="">Conheça o projeto [+]</a>
                    </td>
                    <td>
                        <a href="">Conheça a instituição [+]</a>
                    </td>
                </tr>
            </table>
        </section>
    </main>
    <footer>
        <section>
            <table>
                <td width="400px">
                    <p>Mapa do site:</p>
                    <nav>
                        <ul>
                            <li><a href="">Opção 1</a></li>
                            <li><a href="">Opção 2</a></li>
                            <li><a href="">Opção 3</a></li>
                            <li><a href="">Opção 4</a></li>
                            <li><a href="">Opção 5</a></li>
                            <li><a href="">Opção 6</a></li>
                            <li><a href="">Opção 7</a></li>
                            <li><a href="">Opção 8</a></li>
                            <li><a href="">Opção 9</a></li>
                        </ul>
                    </nav>
                </td>
                <td width="750px">
                    <img src="./imagens/parceiros.jpg" width="670px">
                    <form action="">
                        <br>
                        <fieldset>
                            <legend>Assine nossa newsletter:</legend>
                            <label for="">Email:</label>
                            <input type="email">
                            <label for="">Telefone:</label>
                            <input type="tel">
                            <label for=""></label>
                            <input type="button" value="Assinar">
                        </fieldset>
                    </form>
                </td>
            </table>
        </section>
    </footer>
</body>

</html>
